@mixin container{
    max-width: 1190px;
    height: 100%;
    
    padding: 0 40px;
    margin: 0 auto;
}

@mixin flexBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin navList{
    display: flex;
    column-gap: 42px;
}